.favorites {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #7c6ee9;
    border-radius: 10px;
}

.favorites img {
    width: 35px;
    margin-right: 10px;
    border-radius: 5px;
}